# Ignore untracked large files for speed
videos/july12_*/
videos/july13_*/
videos/july14_*/
videos/july15/
videos/worldcup1_*/
videos/worldcup2_*/
videos/worldcup3_*/
videos/worldcup4_*/
videos/worldcup6_*/
videos/worldcup11_*/
videos/ENA_08.mp4
videos/FSP_01_480p.mp4
videos/FSP_01_compressed.mp4
videos/FSP_01_highlights_small.mp4
videos/FSP_01_highlights_v2.mp4
videos/FSP_01_nosound.mp4
videos/FSP_01_tiny.mp4
